---
import Layout from '~/layouts/Layout.astro'
import { getNotes } from '~/utils/notes'
import { getProjects } from '~/utils/projects'

const notes = await getNotes(3)
const projects = await getProjects()
---

<Layout title="Aldo R. Robles">
  <div>
    <h1>Aldo Robles</h1>
    <p class="text-sm italic text-fg-muted">Full-stack Developer</p>

    <section class="mt-8">
      <h1 class="text-sm italic text-fg-muted">Recent projects</h1>
      <div class="mt-6">
        <ul>
          {
            projects.map(project => (
              <li>
                <h1>{project.data.title}</h1>
                <p class="text-sm text-fg-muted">{project.data.summary}</p>
                <div class="mt-4 flex gap-2 text-sm text-fg-muted">
                  <a
                    href={`${project.data.links.source}`}
                    target="_blank"
                    rel="norefereer noopener"
                  >
                    source
                  </a>
                  {project.data.links.website ? (
                    <a
                      href={`${project.data.links.website}`}
                      target="_blank"
                      rel="norefereer noopener"
                    >
                      website
                    </a>
                  ) : null}
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="mt-10">
      <h1 class="text-sm italic text-fg-muted">Personal notes</h1>
      <div class="mt-6">
        <ul class="flex flex-col gap-6">
          {
            notes.map(note => (
              <li class="flex flex-col gap-1">
                <h1>{note.data.title}</h1>
                <p class="text-sm text-fg-muted">{note.data.summary}</p>
                <div class="mt-3 text-sm text-fg-muted">
                  <a href={`/notes/${note.slug}/`} data-astro-prefetch>
                    Read more{' '}
                    <span class="sr-only">about {note.data.title}</span>
                  </a>
                </div>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="h-16"></div>
    </section>
  </div>
</Layout>
