---
import ExternalLink from '~/components/ui/ExternalLink.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'
import { getProjects } from '~/utils/projects'

const projects = await getProjects()
---

<BaseLayout
  title="Personal Projects"
  description="Personal projects by Aldo R. Robles"
>
  <h1 class="text-lg">Personal projects</h1>
  <div class="mt-6">
    <ul class="flex flex-col gap-8">
      {
        projects.map(({ data }) => (
          <li class="flex flex-col gap-1">
            <a
              href={data.links.source}
              target="_blank"
              rel="noreferrer noopener"
            >
              <h1 class="text-base">{data.title}</h1>
            </a>
            <p class="text-sm text-fg-muted xs:text-base">{data.summary}</p>
            <ul class="flex flex-wrap items-center gap-2 py-2">
              {data.tags.map(tag => (
                <li class="inline-flex cursor-default whitespace-nowrap rounded-md bg-fg/5 px-1.5 py-0.5 text-xs">
                  {tag}
                </li>
              ))}
            </ul>
            <div class="mt-3 flex gap-4 text-sm text-fg-muted xs:text-base">
              <ExternalLink href={data.links.source} label="source" />
              {data.links.website ? (
                <ExternalLink href={data.links.website} label="website" />
              ) : null}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
