---
import { ViewTransitions } from 'astro:transitions'

type Props = {
  siteTitle: string
  description?: string
  keywords?: string
  image?: string
}

const { siteTitle, description, image, keywords = '' } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const ogImage = new URL(image ? image : '/og-image.jpg', Astro.url).href
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{siteTitle}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<!-- Open Graph -->
<meta name="og:url" content={Astro.url.href} />
<meta name="og:title" content={siteTitle} />
<meta name="og:description" content={description} />
<meta property="og:image" content={ogImage} />
<!-- TODO og image -->

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@roblesdotdev" />
<meta name="twitter:title" content={siteTitle} />
<meta name="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<ViewTransitions />
