---
import ExternalLink from '~/components/ui/ExternalLink.astro'
import { getProjects } from '~/utils/projects'

const projects = await getProjects(3)
---

<section>
  <div class="flex items-center justify-between">
    <h1 class="text-sm italic text-fg-muted xs:text-base">Recent projects</h1>
    <a href="/projects/" class="text-sm text-fg-accent hover:underline"
      >View all</a
    >
  </div>
  <ul class="mt-8 flex flex-col gap-6">
    {
      projects.map(({ data }) => (
        <li class="flex flex-col gap-1">
          <a href={data.links.source} target="_blank" rel="noreferrer noopener">
            <h1 class="text-base">{data.title}</h1>
          </a>
          <p class="text-sm text-fg-muted xs:text-base">{data.summary}</p>
          <ul class="flex flex-wrap items-center gap-2 py-2">
            {data.tags.map(tag => (
              <li class="inline-flex cursor-default whitespace-nowrap rounded-md bg-fg/5 px-1.5 py-0.5 text-xs">
                {tag}
              </li>
            ))}
          </ul>
          <div class="flex gap-4 pt-2 text-sm text-fg-muted xs:text-base">
            <ExternalLink href={data.links.source} label="source" />
            {data.links.website ? (
              <ExternalLink href={data.links.website} label="website" />
            ) : null}
          </div>
        </li>
      ))
    }
  </ul>
</section>
